.Component-Stop-Number{
    position: relative;
    width:100%;
    text-align: center;
}

.Component-Stop-Span{
    position: relative;
    background-color: #83e2be;
    border-radius: 90%;
    display: inline-block;
    width: 500px;
    line-height: 500px;
    vertical-align: middle;
    font-size: 100px;
    color: aliceblue;
}
.Component-Stop-Input{
    position: relative;
    display: inline-block;
    width: 80px;
    line-height: 60px;
    vertical-align: middle;
    font-size: 40px;
}

.Component-Stop-Button{
    position: relative;
    display: inline-block;
    width: 80px;
    line-height: 80px;
    vertical-align: middle;
    font-size: 30px;
    margin: 100px;
}
   

.firework-grp {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    color: white;
    color: #535396;
}
.firework-grp2{
    transform: rotate(180deg);
    color: #2C1C44;
    z-index: 6;
}
.firework {
    font-size: 10px;
    display: block;
    width: 8.5em;
    height: 8.5em;
    position: absolute;
}
.size05 {
    transform: scale(0.8);
}
.pos1 {
    left: 50%;
    top: 54%;
}
.drop {
    display: block;
    width: 1em;
    height: 2em;
    overflow: hidden;
    position: absolute;
    opacity: 0;
}
.drop:before {
    content: "";
    display: block;
    width: 1em;
    height: 1em;
    background: currentColor;
    border-radius: 50%;
}
.drop:after {
    content: "";
    display: block;
    position: relative;
    top: -0.4em;
    width: 0;
    height: 0;
    border-top: 1.4em solid currentColor;
    border-left: 0.5em solid transparent;
    border-right: 0.5em solid transparent;
}.drop:before {
    content: "";
    display: block;
    width: 1em;
    height: 1em;
    background: currentColor;
    border-radius: 50%;
}
.drop:before {
    content: "";
    display: block;
    width: 1em;
    height: 1em;
    background: #3a3b3b;
    border-radius: 50%;
}
.drop:after {
    content: "";
    display: block;
    position: relative;
    top: -0.4em;
    width: 0;
    height: 0;
    border-top: 1.4em solid #00a679;
    border-left: 0.5em solid transparent;
    border-right: 0.5em solid transparent;
}






.dropA {
    display: block;
    width: 1em;
    height: 2em;
    overflow: hidden;
    position: absolute;
    opacity: 0;
}
.dropA:before {
    content: "";
    display: block;
    width: 1em;
    height: 1em;
    background: currentColor;
    border-radius: 50%;
}
.dropA:after {
    content: "";
    display: block;
    position: relative;
    top: -0.4em;
    width: 0;
    height: 0;
    border-top: 1.4em solid currentColor;
    border-left: 0.5em solid transparent;
    border-right: 0.5em solid transparent;
}
.dropA:before {
    content: "";
    display: block;
    width: 1em;
    height: 1em;
    background: currentColor;
    border-radius: 50%;
}
.dropA:before {
    content: "";
    display: block;
    width: 1em;
    height: 1em;
    background: hsl(0, 88%, 52%);
    border-radius: 50%;
}
.dropA:after {
    content: "";
    display: block;
    position: relative;
    top: -0.4em;
    width: 0;
    height: 0;
    border-top: 1.4em solid hsl(286, 100%, 33%);
    border-left: 0.5em solid transparent;
    border-right: 0.5em solid transparent;
}






.dropB {
    display: block;
    width: 1em;
    height: 2em;
    overflow: hidden;
    position: absolute;
    opacity: 0;
}
.dropB:before {
    content: "";
    display: block;
    width: 1em;
    height: 1em;
    background: currentColor;
    border-radius: 50%;
}
.dropB:after {
    content: "";
    display: block;
    position: relative;
    top: -0.4em;
    width: 0;
    height: 0;
    border-top: 1.4em solid currentColor;
    border-left: 0.5em solid transparent;
    border-right: 0.5em solid transparent;
}
.dropB:before {
    content: "";
    display: block;
    width: 1em;
    height: 1em;
    background: currentColor;
    border-radius: 50%;
}
.dropB:before {
    content: "";
    display: block;
    width: 1em;
    height: 1em;
    background: #3a3b3b;
    border-radius: 50%;
}
.dropB:after {
    content: "";
    display: block;
    position: relative;
    top: -0.4em;
    width: 0;
    height: 0;
    border-top: 1.4em solid rgb(242, 247, 1);
    border-left: 0.5em solid transparent;
    border-right: 0.5em solid transparent;
}






.dropC {
    display: block;
    width: 1em;
    height: 2em;
    overflow: hidden;
    position: absolute;
    opacity: 0;
}
.dropC:before {
    content: "";
    display: block;
    width: 1em;
    height: 1em;
    background: currentColor;
    border-radius: 50%;
}
.dropC:after {
    content: "";
    display: block;
    position: relative;
    top: -0.4em;
    width: 0;
    height: 0;
    border-top: 1.4em solid currentColor;
    border-left: 0.5em solid transparent;
    border-right: 0.5em solid transparent;
}
.dropC:before {
    content: "";
    display: block;
    width: 1em;
    height: 1em;
    background: currentColor;
    border-radius: 50%;
}
.dropC:before {
    content: "";
    display: block;
    width: 1em;
    height: 1em;
    background: hsl(130, 77%, 66%);
    border-radius: 50%;
}
.dropC:after {
    content: "";
    display: block;
    position: relative;
    top: -0.4em;
    width: 0;
    height: 0;
    border-top: 1.4em solid #a80038;
    border-left: 0.5em solid transparent;
    border-right: 0.5em solid transparent;
}




.dropD {
    display: block;
    width: 1em;
    height: 2em;
    overflow: hidden;
    position: absolute;
    opacity: 0;
}
.dropD:before {
    content: "";
    display: block;
    width: 1em;
    height: 1em;
    background: currentColor;
    border-radius: 50%;
}
.dropD:after {
    content: "";
    display: block;
    position: relative;
    top: -0.4em;
    width: 0;
    height: 0;
    border-top: 1.4em solid currentColor;
    border-left: 0.5em solid transparent;
    border-right: 0.5em solid transparent;
}
.dropD:before {
    content: "";
    display: block;
    width: 1em;
    height: 1em;
    background: currentColor;
    border-radius: 50%;
}
.dropD:before {
    content: "";
    display: block;
    width: 1em;
    height: 1em;
    background: hsl(69, 81%, 55%);
    border-radius: 50%;
}
.dropD:after {
    content: "";
    display: block;
    position: relative;
    top: -0.4em;
    width: 0;
    height: 0;
    border-top: 1.4em solid rgb(0, 39, 168);
    border-left: 0.5em solid transparent;
    border-right: 0.5em solid transparent;
}



.dropE {
    display: block;
    width: 1em;
    height: 2em;
    overflow: hidden;
    position: absolute;
    opacity: 0;
}
.dropE:before {
    content: "";
    display: block;
    width: 1em;
    height: 1em;
    background: currentColor;
    border-radius: 50%;
}
.dropE:after {
    content: "";
    display: block;
    position: relative;
    top: -0.4em;
    width: 0;
    height: 0;
    border-top: 1.4em solid currentColor;
    border-left: 0.5em solid transparent;
    border-right: 0.5em solid transparent;
}
.dropE:before {
    content: "";
    display: block;
    width: 1em;
    height: 1em;
    background: currentColor;
    border-radius: 50%;
}
.dropE:before {
    content: "";
    display: block;
    width: 1em;
    height: 1em;
    background: hsl(180, 32%, 45%);
    border-radius: 50%;
}
.dropE:after {
    content: "";
    display: block;
    position: relative;
    top: -0.4em;
    width: 0;
    height: 0;
    border-top: 1.4em solid rgb(168, 0, 0);
    border-left: 0.5em solid transparent;
    border-right: 0.5em solid transparent;
}







.drop-1 {
    left:3.75em;
    top: 0;
    animation: drop1anim 2s ease-in-out infinite;
}
.drop-2 {
    top: 3.25em;
    right: 0;
    animation: drop2anim 2s ease-in-out infinite;
}
.drop-3 {
    left:3.75em;
    bottom: 0;
    animation: drop3anim 2s ease-in-out infinite;
}
.drop-4 {
    top: 3.25em;
    left: 0;
    animation: drop4anim 2s ease-in-out infinite;
}
.drops-grp {
    display: block;
    width: 8.5em;
    height: 8.5em;
    position: absolute;
}
.drops-grp2 {
    display: block;
    width: 8.5em;
    height: 8.5em;
    position: absolute;
    transform: rotate(45deg);
}
@keyframes drop1anim {
    0% {
        top:3.25em;
        opacity: 0;
        transform: scale(0.3);
    }
    25% {
        opacity: 0;
    }
    50% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        top: -0.75em;
        opacity: 0;
        transform: scale(0.3);
    }
}
@keyframes drop2anim {
    0% {
        right:3.75em;
        opacity: 0;
        transform: scale(0.3) rotate(90deg);
    }
    25% {
        opacity: 0;
    }
    50% {
        opacity: 1;
        transform: scale(1) rotate(90deg);
    }
    100% {
        right: -0.25em;
        opacity: 0;
        transform: scale(0.3) rotate(90deg);
    }
}
@keyframes drop3anim {
    0% {
        bottom:3.25em;
        opacity: 0;
        transform: scale(0.3) rotate(180deg);
    }
    25% {
        opacity: 0;
    }
    50% {
        opacity: 1;
        transform: scale(1) rotate(180deg);
    }
    100% {
        bottom: -0.75em;
        opacity: 0;
        transform: scale(0.3) rotate(180deg);
    }
}
@keyframes drop4anim {
    0% {
        left:3.75em;
        opacity: 0;
        transform: scale(0.3) rotate(-90deg);
    }
    25% {
        opacity: 0;
    }
    50% {
        opacity: 1;
        transform: scale(1) rotate(-90deg);
		}
		100% {
        left: -0.25em;
        opacity: 0;
        transform: scale(0.3) rotate(-90deg);
    }
}
.radius{
    width: 60px;
    height: 60px;
    margin: 25px auto;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    background-color: #fccc86;
    position: relative;
}
.animate-radius{
    width: 60px;
    height: 60px;
    position: absolute;
    left: 0;
    border-radius: 50%;
    background-color: #ffc672;
    animation:radius 1.5s ease-out infinite forwards;
    -webkit-animation: radius 1.5s ease-out infinite forwards;
    -moz-animation:radius 1.5s ease-out infinite forwards;
    -ms-animation:radius 1.5s ease-out infinite forwards;
}
@keyframes radius {
    0%{  transform: scale(1,1);
        -webkit-transform:scale(1,1) ;
        -moz-transform:scale(1,1) ;
        -ms-transform:scale(1,1) ;
        opacity: 0.6;
        }
    50%{
        transform: scale(1.4,1.4);
        -webkit-transform:scale(1.4,1.4) ;
        -moz-transform:scale(1.4,1.4) ;
        -ms-transform:scale(1.4,1.4) ;
        opacity: 0;
    }
}
.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}
.event.received {
  background-color:#cca4e3;
}
 
@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
    padding: 10px;
    height: 100px;
    text-align: center;

}
